.container_moment {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: none;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
  }

.bottom_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

.identification_block {
    background: var(--light-gray);
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 4px;
    color: var(--light-purple);
}

.features_block {
    background: var(--light-gray);
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
}

.topbar_customization {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: var(--light-gray);
    height: 50px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 1px 3px var(--darker-gray);
}

.submit_button {
    background-color: var(--light-purple);
    color: var(--light-gray);
    font-size: 20px;
    padding: 10px 20px;
    border: var(--light-purple);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: auto;
    width: 170px;
}

.feature_name {
    color: var(--light-purple);
    font-size: 18px;
    margin: 15px 0px 5px 15px;
    cursor: default;
}

.feature_dropbox {
    background-color: var(--dark-gray);
    outline: 1px solid var(--dark-gray);
    border: 1px solid var(--dark-gray);
    color: var(--light-purple);
    font-size: 18px;
    padding: 10px;
    height: auto;
    margin: 0px 15px;
    cursor: pointer;
    border-radius: 8px;
}

.feature_dropbox:focus {
    outline: 1px solid var(--dark-gray);
    color: var(--light-purple);
    background: var(--dark-gray);
}

.feature_dropbox:hover {
    border: 1px solid var(--dark-gray);
    color: var(--light-purple);
    cursor: pointer;
}

.time_dropbox {
    background-color: var(--dark-gray);
    outline: 1px solid var(--dark-gray);
    border: 1px solid var(--dark-gray);
    color: var(--light-purple);
    max-height: 120px;
    overflow-y: auto;
    font-size: 18px;
    padding: 4px 8px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 8px;
  }

  .time_words {
    padding-left: 10px;
  }

.time_columns {
    display: flex;
}

.face_item {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
    border-radius: 20%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.2s ease;
}

.face_item.selected {
    border: 2px solid #9c6bae;
    box-shadow: 0 0 10px rgba(156, 107, 174, 0.7);
}

.face-grid {
    display: flex;
    flex-wrap: wrap;
}
