.media_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--light-gray);
}

.topbar_media {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: var(--light-gray);
    height: 60px;
    border-radius: 4px 4px 0px 0px;
    flex-shrink: 0;
    box-shadow: 0 1px 3px var(--darker-gray);
}

.media_clickable_word {
    color: var(--light-purple);
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.media_clickable_word:hover {
    cursor: pointer;
    color: var(--dark-purple);
}

.media_clickable_word.active {
    border-bottom: 2px solid var(--light-purple);
    background: transparent;
}

.media_bar {
    color: var(--light-purple);
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

.right_buttons {
    margin-left: auto;
    display: flex;
}

.upload_button {
    font-size: 30px;
    color: var(--light-purple);
    background: transparent;
    border: none;
    padding-top: 5px;
    cursor: pointer;
    align-items: center;
    padding-right: 5px;
}

.upload_button:hover {
    color: var(--dark-purple);
  }

.delete_button {
    font-size: 30px;
    color: var(--light-purple);
    background: transparent;
    border: none;
    padding-top: 6px;
    cursor: pointer;
    align-items: center;
    padding-right: 15px;
}

.delete_button:hover {
    color: var(--dark-purple);
  }

.media_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: auto;
  }
  
  .media_item {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 10px;
    cursor: pointer;
}

.media_item.selected {
    outline: 4px solid var(--light-purple);
    opacity: 0.8;
}

.song-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    grid-column: span 10;
}

.song-item {
    background-color: var(--dark-gray);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -10px;
    width: 100%;
    cursor: pointer;
}

.song-name {
    width: auto;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 20px;
    text-align: left;
}

.media_item_audio {
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.song-item.selected {
    outline: 2px solid var(--light-purple);
    opacity: 0.8;
}

.song-item.selected {
    outline: 2px solid var(--light-purple);
    opacity: 0.8;
}