:root {
    --dark-blue: #263952;
    --light-blue: #365071;
    --dark-purple: #4c3654;
    --light-purple: #6d4a7a;
    --light-gray: #aeaeae;
    --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.person-checkbox-container {
    padding: 15px;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .person-options {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  
  .person-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 6px;
  }
  
  .person-option input[type="checkbox"] {
    display: none;
  }
  
  .person-image {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
    object-fit: cover;
  }
  
  .person-name {
    margin-top: 5px;
    font-size: 20px;
    color: var(--light-gray);
  }
  
  .person-option input[type="checkbox"]:checked + .person-image,
  .person-image.selected {
    border-color: var(--light-purple);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  }
  